<md-sidenav class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left" >

    <header class="nav-header" ss-style-color="{'background-color': 'primary.default'}">
        <a ng-href="/index.html" class="logo">
            <h1 class="md-heading">Thilagarajan Kamarajan</h1>
        </a>
    </header>

    <md-content flex role="navigation" ss-style-color="{'background-color': 'primary.default'}" style="overflow: hidden;
">
        <ss-sidenav flex menu="menu"></ss-sidenav>
    </md-content>
</md-sidenav>

<div layout="column" flex role="main" class="baseLayout">
    <div ui-view layout="column"></div>
	<div flex md-swipe-left="toggleNav()">
		<md-card flex="100" style="margin: 0px;align-items: left;height: 100%;" ng-cloak> 
			<!--img ng-src={{imgSrc}} /-->	
			<span typed style="margin-left:10vw;">
			<span style="font-size: 10vw; color: rebeccapurple;" >	Hello! <br/> I'm Thilak, <br/></span>
			<span style="font-size: 6vw;color: rgb(216,67,21);" > a Product Developer</span>
			</span>
		 </md-card>		
	</div>
</div>
