<md-sidenav class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left" >

    <header class="nav-header" ss-style-color="{'background-color': 'primary.default'}">
        <a ng-href="/index.html" class="logo">
            <h1 class="md-heading">Thilagarajan Kamarajan</h1>
        </a>
    </header>

    <md-content flex role="navigation" ss-style-color="{'background-color': 'primary.default'}" style="overflow: hidden;
">
        <ss-sidenav flex menu="menu"></ss-sidenav>
    </md-content>
</md-sidenav>


<div layout="column" flex role="main" class="baseLayout">
<md-toolbar  style="background:white;">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="toggleNav();" >
            <md-icon class="slideIcon"
                md-svg-icon="resources/images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
        </md-button>

        <h2></h2>

        <span flex></span>
		
    </div>
</md-toolbar>
    <div ui-view layout="column" >
		<div typed style="margin-left: 10vw;"></div>
	</div>	
</div>

