<md-sidenav class="md-sidenav-left md-whiteframe-z2"
    md-component-id="left" >

    <header class="nav-header" ss-style-color="{'background-color': 'primary.default'}">
        <a ng-href="#" ng-click="reloadRoute()" class="logo">
            <h1 class="md-heading">Thilagarajan Kamarajan</h1>
        </a>
    </header>

    <md-content flex role="navigation" ss-style-color="{'background-color': 'primary.default'}" style="overflow: hidden;
">
        <ss-sidenav flex menu="menu"></ss-sidenav>
    </md-content>
</md-sidenav>


<div layout="column" flex role="main" class="baseLayout">

        <md-button class="md-icon-button"
            aria-label="Menu Button"
            ng-click="toggleNav();" style="position: absolute;top:10px;left:10px;" >
            <md-icon class="slideIcon"
                md-svg-icon="resources/images/icons/menu.svg"
                aria-label="Menu Icon">
            </md-icon>
			
        </md-button>
		<h3 style="position: absolute;left: 60px;top: -3px;"></h3>
        
    
    <div ui-view layout="column" style="overflow: auto;background:url(/resources/images/wall1.jpg) no-repeat;background-size: 100% 100%;height: 50vw;" >
		<div typed style="margin-left: 15vw;margin-top: 5vw;"></div>
	</div>	
</div>

